doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Wyatt Duberstein
  link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet' type='text/css')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
// Navigation
nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
  a.navbar-brand.js-scroll-trigger(href='#about')
    span.d-block.d-lg-none Wyatt Duberstein
    span.d-none.d-lg-block
      img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg' alt='...')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#about') About
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#education') Education
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#experience') Work Experience
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#volunteer-experience') Volunteer Experience
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#projects') Projects
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#skills') Skills
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#interests') Interests
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#contact-me') Contact Me
  p.nav-item
    b &copy; WYATT DUBERSTEIN 2021
// Page Content
.container-fluid.p-0
  // About
  section#about.resume-section
    .resume-section-content
      h1.mb-0
        | Wyatt
        span.text-primary Duberstein
      .subheading.mb-5
        | 204 Beach Road &middot; Ames, Iowa 50013 &middot; (763) 203-2990 &middot;
        a(href='wyattduberstein@gmail.com') wyattduberstein@gmail.com
      p.lead.mb-5
        | Software Engineering Undergrad with a strong interest in software development and computer science, both recreational and professional. Skilled in Java, WordPress, Linux System Administration, Amazon Web Services (AWS), and MariaDB. Strong operations professional with a Bachelor of Engineering - BE focused in Software Engineering from Iowa State University.
      .social-icons
        a.social-icon(href='https://www.linkedin.com/in/wyatt-duberstein-854a02198/' target='_blank' rel='noreferrer noopener')
          i.fab.fa-linkedin-in
        a.social-icon(href='https://www.github.com/DoubleYouCash' target='_blank' rel='noreferrer noopener')
          i.fab.fa-github
        a.social-icon(href='https://twitter.com/Wycash' target='_blank' rel='noreferrer noopener')
          i.fab.fa-twitter
        a.social-icon(href='https://www.facebook.com/wyatt.duberstein' target='_blank' rel='noreferrer noopener')
          i.fab.fa-facebook-f
  hr.m-0
  // Education
  section#education.resume-section
    .resume-section-content
      h2.mb-5 Education
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Iowa State University
          .subheading.mb-3 Software Engineering, Minor in Cybersecurity
          div Runtime Terror
          div Larch Lan Club
          p GPA: 3.28
        .flex-shrink-0
          span.text-primary August 2019 - May 2023
      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 Delano High School
          .subheading.mb-3 FIRST Robotics Team 3026 (Lead Programmer)
          .subheading.mb-3 First-Chair Percussion
          p GPA: 3.52
        .flex-shrink-0
          span.text-primary August 2015 - June 2019
  hr.m-0
  // Work Experience
  section#experience.resume-section
    .resume-section-content
      h2.mb-5 Work Experience
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Stocking Associate
          .subheading.mb-3 Cub Foods
          ul
            li
              | Maintained a sufficiently stocked sales floor for constant access to convenient and quality product
            li
              | Managed and provided training for new hires to maximize their productivity and potential
            li
              | Coordinated the department to increase efficiency, improve product presentation and advance quality of work performed by associates
        .flex-shrink-0
          span.text-primary August 2017 - Present
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Student Cook Assistant
          .subheading.mb-3 ISU Dining - Conversations
          ul
            li Efficiently service customers with high quality product
            li Maintain a clean working environment and upheld standards of food preparation
            li Provide services wherever needed in a quick and useful fashion
        .flex-shrink-0
          span.text-primary January 2020 - May 2021
  hr.m-0
  // Volunteer Experience
  section#volunteer-experience.resume-section
    .resume-section-content
      h2.mb-5 Volunteer Experience
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Volunteer Administrator
          .subheading.mb-3 Element Animation
          ul
            li
              | Volunteer administrator on Element Animation&rsquo;s Minecraft/Set Development Server and Discord Server
            li
              | Communicate effectively with an international team of moderators and administrators
            li
              | Quickly and effectively respond to situations where users or staff need assistance, enforcing server policiesand ensuring the server runs at an optimal level of performance
            li Develop java plugins for the needs of the server as well as other servers
        .flex-shrink-0
          span.text-primary July 2019 - Present
      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Mentor of FIRST Robotics
          .subheading.mb-3 FIRST Team 3026
          ul
            li
              | Teach students skills and knowledge that will lead them to success on and off the team
            li Assist students and the team in reaching their yearly goal
            li Maintain a safe and productive learning environment to foster success
        .flex-shrink-0
          span.text-primary June 2019 - Present
  hr.m-0
  // Projects
  section#projects.resume-section
  // Skills
  section#skills.resume-section
    .resume-section-content
      h2.mb-5 Skills
      .subheading.mb-3 Programming Languages &amp; Tools
      ul.list-inline.dev-icons
        li.list-inline-item
          i.fab.fa-java
        li.list-inline-item
          i.fab.fa-html5
        li.list-inline-item
          i.fab.fa-js-square
        li.list-inline-item
          i.fab.fa-react
        li.list-inline-item
          i.fab.fa-node-js
        li.list-inline-item
          i.fab.fa-wordpress
        li.list-inline-item
          i.fab.fa-npm
      .subheading.mb-3 Workflow
      ul.fa-ul.mb-0
        li
          span.fa-li
            i.fas.fa-check
          |                     Mobile-First, Responsive Design
        li
          span.fa-li
            i.fas.fa-check
          |                     Cross Browser Testing &amp; Debugging
        li
          span.fa-li
            i.fas.fa-check
          |                     Cross Functional Teams
        li
          span.fa-li
            i.fas.fa-check
          |                     Agile Development
  hr.m-0
  // Interests
  section#interests.resume-section
    .resume-section-content
      h2.mb-5 Interests
      p
        | Apart from being a web developer and software engineer, I love to play and make music. I play guitar, piano, and sing.
      p.mb-0
        | When forced indoors, I follow a number of sci-fi movies and television shows, and listen to my vinyl collection (The Beatles and Queen, of course). I spend the rest of my free time exploring the latest technology advancements in the tech and software development world.
  hr.m-0
  section#contact-me.resume-section
    .resume-section-content
      .container
        h2.mb-5 Contact Me
        form(target='_blank' action='https://formsubmit.co/aca1701858d9c987cbff92bd4fb8d966' method='POST')
          .form-group
            .form-row
              .col
                input.form-control(type='text' name='name' placeholder='Full Name' required='')
              .col
                input.form-control(type='email' name='email' placeholder='Email Address' required='')
          .form-group
            textarea.form-control(placeholder='Your Message' name='message' rows='10' required='')
          button.btn.btn-lg.btn-dark.btn-block(type='submit') Submit Form
  script(src='js/jquery.min.js')
  script(src='js/bootstrap.min.js')
// Bootstrap core JS
script(src='https://code.jquery.com/jquery-3.5.1.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')
// Core theme JS
script(src='js/scripts.js')
