doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Wyatt Duberstein
  link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js' crossorigin='anonymous')
  script(src='https://kit.fontawesome.com/5a5bbea3ce.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet' type='text/css')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
// Progress Bar
progressbar(height='3px' containerstyle="{{backgroundColor:'#a7caed',bottom:'0',top:'none'}}" progressbarstyle="{{backgroundColor:'#1976d2'}}")
  // Navigation
  nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
    a.navbar-brand.js-scroll-trigger(href='#about')
      span.d-block.d-lg-none Wyatt Duberstein
      span.d-none.d-lg-block
        img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg' alt='...')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#about') About
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#education') Education
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#experience') Work Experience
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#projects') Projects
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#volunteer-experience') Volunteer Experience
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#skills') Skills
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#interests') Interests
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#contact-me') Contact Me
    p.nav-item
      b &copy; WYATT DUBERSTEIN 2023
  // Page Content
  .container-fluid.p-0
    // About
    section#about.resume-section
      .resume-section-content
        h1.mb-0
          | Wyatt
          span.text-primary Duberstein
        .subheading.mb-5
          | Bismarck, ND &middot; 
          a(href='mailto:wyattduberstein@gmail.com') wyattduberstein@gmail.com
        p.lead.mb-5
          | Consulting Associate at 
          a(href='https://rsmus.com/' target='_blank') RSM
          |  with a strong interest in software development and computer science, both recreational and professional. Skilled in .NET, Java, Python, HTML/CSS, Linux System Administration,
          |                     Amazon Web Services (AWS), and MySQL.
        .social-icons
          a.social-icon(href='https://www.linkedin.com/in/wyatt-duberstein-854a02198/' target='_blank' rel='noreferrer noopener')
            i.fab.fa-linkedin-in
          a.social-icon(href='https://www.github.com/wyattduber' target='_blank' rel='noreferrer noopener')
            i.fab.fa-github
          a.social-icon(href='https://twitter.com/Wycash' target='_blank' rel='noreferrer noopener')
            i.fab.fa-twitter
          a.social-icon(href='https://www.facebook.com/wyatt.duberstein' target='_blank' rel='noreferrer noopener')
            i.fab.fa-facebook-f
          a.social-icon(href='assets/files/resume.pdf' target='_blank' rel='noreferrer noopener')
            i.fa-regular.fa-file
    hr.m-0
    // Education
    section#education.resume-section
      .resume-section-content
        h2.mb-5 Education
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Iowa State University
            .subheading.mb-3 Software Engineering, Minor in Cybersecurity
            div GPA: 3.17
            p Dean&apos;s List - Spring 2022, Spring 2023
            div Runtime Terror
            div Larch Lan Club
          .flex-shrink-0
            span.text-primary August 2019 - May 2023
        .d-flex.flex-column.flex-md-row.justify-content-between
          .flex-grow-1
            h3.mb-0 Delano High School
            .subheading.mb-3 Distinction
            p GPA: 3.52
            div FIRST Robotics Team 3026 (Lead Programmer)
            div First-Chair Percussion
          .flex-shrink-0
            span.text-primary August 2015 - June 2019
    hr.m-0
    // Work Experience
    section#experience.resume-section
      .resume-section-content
        h2.mb-5 Work Experience
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Consulting Associate - Enterprise Integration
            .subheading.mb-3
              a(href='https://rsmus.com' target='_blank') RSM US LLP
            ul
              li
                | Design solutions using the .NET framework integrating core and custom features of enterprise applications to the client&apos;s specifications
              li
                | Learn how to interact with APIs, databases, and webservices utilizing a variety of custom-code toolsets
              li
                | Implement and design modern development operations systems using CI/CD deployment pipelines and git repositories.
              li
                | Understand RSM&apos;s application development best practices by participating in client work
              li Work with client and RSM engineers to document technical requirements
              li
                | Collaborate with other team members of any level to solve complex technical problems in creative ways
          .flex-shrink-0
            span.text-primary July 2023 - Present
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Consulting Intern - Data Integration
            .subheading.mb-3
              a(href='https://rsmus.com' target='_blank') RSM US LLP
            ul
              li
                | Gain a general understanding of professional serviecs and how RSM services it&apos;s clients by shadowing other consultants
              li
                | Learn how to interact with APIs, databases, and webservices utilizing a variety of low-code toolsets
              li
                | Understand RSM&apos;s application development best practices by participating in client work
              li Work with client and RSM engineers to documenttechnical requirements
              li
                | Collaborate wiht other interns and intern supervisors to solve complex technical problems in creative ways
              li
                | Understand RSM&apos;s business model by participating in a team capstone project with other lines of business
          .flex-shrink-0
            span.text-primary June 2022 - August 2022
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Resident Assistant
            .subheading.mb-3
              a(href='https://housing.iastate.edu' target='_blank') ISU Department Of Residence
            ul
              li Fostered the development of relationships among 70 residents
              li
                | Counseled and advised first year students on academic and personal questions and concerns
              li
                | Developed and conducted programs on diversity, chemical abuse, personal development, relationships, and academic performance
              li
                | Managed administrative duties: budgeting, maintenance requests, incident reports, and room transfers
              li
                | Performed overnight duty on a bi-weekly basis ensuring the safety and well-being of residents and community
          .flex-shrink-0
            span.text-primary August 2021 - May 2023
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Stocking Associate
            .subheading.mb-3
              a(href='https://www.cub.com' target='_blank') Cub Foods
            ul
              li
                | Maintained a sufficiently stocked sales floor for constant access to convenient and quality product
              li
                | Managed and provided training for new hires to maximize their productivity and potential
              li
                | Coordinated the department to increase efficiency, improve product presentation and advance quality of work performed by associates
          .flex-shrink-0
            span.text-primary August 2017 - August 2021
    hr.m-0
    // Projects
    section#projects.resume-section
      .resume-section-content
        h2.mb-5 Projects
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.s CyDAQ
            .subheading.mb-2 Senior Design Team Project @ ISU
            .subheading.mb-3
              a(href='https://sdmay23-47.sd.ece.iastate.edu/' target='_blank') View Website
              |  &bull; 
              a(href='https://github.com/wyattduber/cydaq' target='_blank')
                | View Source
                i.fa-brands.fa-github
            ul
              li
                | Device designed for and used in Signals and Systems I/II (EE 224/324) at Iowa State University
              li
                | Measures and records electrical signals and outputs measurements into graph files
              li
                | Can also balance a ball on a beam and measure exact position of ball for educating students on PID
              li Redesign of an existing prototype done by a previous senior design project
              li
                | Designed a GUI for controlling and programming the CyDAQ from a host machine using PyQt5
              li
                | Designed a wrapper for the existing CLI (Command-Line Interface) tool to handle input/outputs for the CyDAQ
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 iTrakz
            .subheading.mb-2 CS 319 Team Project @ ISU
            .subheading.mb-3
              a(href='https://itrakz.wyattduber.com' target='_blank') View Website
              |  &bull; 
              a(href='https://github.com/wyattduber/iTrakz' target='_blank')
                | View Source
                i.fa-brands.fa-github
            ul
              li
                | Self-Hosted ticketing system through web-interface created as a group project for class
              li Fully functioning ticketing system with assigning features and ticket management
              li Group project for Computer Science 319 (Construction of User Interfaces)
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Portfolio Website
            .subheading.mb-3
              a(href='https://www.wyattduber.com/' target='_blank') View Website
              |  &bull; 
              a(href='https://github.com/wyattduber/Project-Dashboard' target='_blank')
                | View Source
                i.fa-brands.fa-github
            ul
              li
                | Self-Hosted website with personal info, professional info, projects (in-progress/completed), and sites hosted
              li
                | Made with HTML/CSS/JavaScript by a 
                a(href='https://jeremynoesen.xyz' target='_blank') friend
                |  and redone/customized
              li Hosted at home with a homelab using an nginx webserver
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 AirPlanned
            .subheading.mb-2 CS 309 Team Project @ ISU
            .subheading.mb-3
              a(href='https://docs.wyattduber.com/airplanned/' target='_blank') View Documentation
              |  &bull; 
              a(href='https://github.com/wyattduber/Airplanned' target='_blank')
                | View Source
                i.fa-brands.fa-github
            ul
              li Travel planning app meant to plan air travel and hotel accomodations
              li
                | Features a built-in social media application to share travel plans with friends/family
              li Made as an Android application frontend and with a Springboot backend
    hr.m-0
    // Volunteer Experience
    section#volunteer-experience.resume-section
      .resume-section-content
        h2.mb-5 Volunteer Experience
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Volunteer Administrator
            .subheading.mb-3 Element Animation
            ul
              li
                | Volunteer administrator on Element Animation&rsquo;s Minecraft/Set Development Server and Discord Server
              li
                | Communicate effectively with an international team of moderators and administrators
              li Configuring Java plugins
              li Extensive use and familiarity of .jar, .yml, and .json files
              li Competent in use of MySQL and SQLite database
              li Maintaining ideal levels of application performance
              li Familiarity with linux environment (Ubuntu server)
              li Responsible for hiring, coaching, and termination (when needed) of staff
              li Create and implement new ideas and changes to administration and user experience
              li Ensuring quality of experience for staff and patrons that connect to the server
              li
                | Quickly and effectively respond to situations where users or staff need assistance, enforcing server policiesand ensuring the server runs at an optimal level of performance
              li Develop java plugins for the needs of the server as well as other servers
          .flex-shrink-0
            span.text-primary July 2019 - Present
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
          .flex-grow-1
            h3.mb-0 Mentor of FIRST Robotics
            .subheading.mb-3 Orange Crush 3026
            ul
              li
                | Teach students skills and knowledge that will lead them to success on and off the team
              li Assist students and the team in reaching their yearly goal
              li Maintain a safe and productive learning environment to foster success
          .flex-shrink-0
            span.text-primary June 2019 - June 2021
    hr.m-0
    // Skills
    section#skills.resume-section
      .resume-section-content
        h2.mb-5 Skills
        .subheading.mb-3 Programming Languages &amp; Tools
        ul.list-inline.dev-icons
          li.list-inline-item
            i.fab.fa-java
          li.list-inline-item
            i.fa-brands.fa-python
          li.list-inline-item
            i.fab.fa-html5
          li.list-inline-item
            i.fab.fa-js-square
          li.list-inline-item
            i.fa-brands.fa-linux
          li.list-inline-item
            i.fa-brands.fa-aws
          li.list-inline-item
            i.fa-brands.fa-git-alt
          li.list-inline-item
            i.fab.fa-node-js
        .subheading.mb-3 Workflow
        ul.fa-ul.mb-0
          li
            span.fa-li
              i.fas.fa-check
            |  Proficient in C# and Azure, excelling in seamless cloud integration and deployment on Microsoft Azure.
          li
            span.fa-li
              i.fas.fa-check
            |  Expertise in designing robust APIs for efficient data exchange within integration architectures.
          li
            span.fa-li
              i.fas.fa-check
            |  Implements DevOps principles for continuous integration and deployment, ensuring streamlined development processes.
          li
            span.fa-li
              i.fas.fa-check
            |  Transforms monolithic applications into microservices, enhancing scalability and system agility.
          li
            span.fa-li
              i.fas.fa-check
            |  Implements automated testing strategies for reliable and stable integrated solutions.
    hr.m-0
    // Interests
    section#interests.resume-section
      .resume-section-content
        h2.mb-5 Interests
        p
          | Apart from being a web developer and software engineer, I love to play and make music. I play guitar, piano, and sing.
        p.mb-0
          | I follow a number of sci-fi movies and television shows, and listen to my vinyl collection (The Beatles and Queen, of course). I spend the rest of my free time exploring the latest technology advancements in the tech and software development
          | world.
    hr.m-0
    section#contact-me.resume-section
      .resume-section-content
        .container
          h2.mb-5 Contact Me
          form(target='_blank' action='https://formsubmit.co/aca1701858d9c987cbff92bd4fb8d966' method='POST')
            .form-group
              .form-row
                .col
                  input.form-control(type='text' name='name' placeholder='Full Name' required='')
                .col
                  input.form-control(type='email' name='email' placeholder='Email Address' required='')
            .form-group
              textarea.form-control(placeholder='Your Message' name='message' rows='10' required='')
            button.btn.btn-lg.btn-dark.btn-block(type='submit') Submit Form
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
  // Bootstrap core JS
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')
  // Core theme JS
  script(src='js/scripts.js')
  // Dark Mode JS
  script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
  script.
    function addDarkmodeWidget() {
    new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  // Progress Bar JS
  script(src='js/progressbar.js')
